Lambda Function

In [2]:
#create function using def keyword
def double(x):
    return x*2

# function call
double(100)

200

In [4]:
#create fuction using lambda
x = lambda x:x*2

#Function call
x(550)

1100

In [5]:
#create fuction using lambda
x = lambda x,y:x+y

#function call
x(18,12)

30

In [6]:
#create function using def keyword
def max(x,y):
    if x>y:
        return x
    else:
        return y

#function call
max(10,15)

15

In [7]:
# create fuction using lambda
x = lambda x,y:x if x>y else y

#function call
x(7, 18)

18

Iterables

In [9]:
#List is iterable
num = [1,2,3,4,5]
for i in num:
    print(i)

1
2
3
4
5

In [10]:
#Tuple is iterable
num1 = (1,2,3,4,5) 
for i in num1:
    print(i)

1
2
3
4
5

In [15]:
#Dicitonary is iterable
dict1 = {"name":"Jaishwanth","Reg No":"21MID0149"} 
for i in dict1.items():
    print(i)

('name', 'Jaishwanth')
('Reg No', '21MID0149')

In [16]:
#String is iterable
name = "Jaishwanth"   
for i in name:
    print(i)

J
a
i
s
h
w
a
n
t
h

In [17]:
#Byte is iterable
my_bytes = b"hello"  
print("Iterating over a bytes object:")
for i in my_bytes:
    print(i)

Iterating over a bytes object:
104
101
108
108
111

Non - Iterable

In [20]:
#Using conversion interger becomes iterable
n = 1234567
str1 = str(n)  
for i in str1:
    print(i)

1
2
3
4
5
6
7

In [21]:
# Without using conversion integer becomes iterable
n = 1234567
add = 0
while n != 0:
    digit = n % 10       
    print(digit)
    n //= 10

7
6
5
4
3
2
1

In [22]:
n = 1234567
# List Comprehension
digits = [int(d) for d in str(n)]   
print(digits)

[1, 2, 3, 4, 5, 6, 7]

dir() function returns a list of all the attributes and methods of an object.

In [23]:
#Original list
num = [1,2,3,4,5] 
print(dir(num))

['__add__', '__class__', '__class_getitem__', '__contains__', '__delattr__', '__delitem__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__getitem__', '__getstate__', '__gt__', '__hash__', '__iadd__', '__imul__', '__init__', '__init_subclass__', '__iter__', '__le__', '__len__', '__lt__', '__mul__', '__ne__', '__new__', '__reduce__', '__reduce_ex__', '__repr__', '__reversed__', '__rmul__', '__setattr__', '__setitem__', '__sizeof__', '__str__', '__subclasshook__', 'append', 'clear', 'copy', 'count', 'extend', 'index', 'insert', 'pop', 'remove', 'reverse', 'sort']

collections.abc â€” Abstract Base Classes for Containers (iter(), next())

In [24]:
#List
names = ["Jaish","Keshav","Ananya"] 
#iterator from object list
looper = names.__iter__()     
print(looper)
print(type(names))
print(type(looper))

<list_iterator object at 0x0000013239437940>
<class 'list'>
<class 'list_iterator'>

In [25]:
looper = iter(names)   
print(looper)
print(type(looper))

<list_iterator object at 0x0000013239437AC0>
<class 'list_iterator'>

In [26]:
looper = iter(names)
print(next(looper))
print(next(looper))
print(next(looper))
print(next(looper))

Jaish
Keshav
Ananya

StopIteration:

In [27]:
#Iterating the list using iter() and accesing next element by next()
names = ["Jaish","keshav","Ananya"] # original list
looper = iter(names)
while True:
    try:
        name = next(looper) 
        print(name)
    except StopIteration:
        break

Jaish
keshav
Ananya

Map Function

In [28]:
#Creates a map object
def square(x):
    return x*x
numbers = [1,2,3,4,5]
print(map(square,numbers))

<map object at 0x0000013239436020>

In [29]:
#Create a list using map
def square(x):
    return x*x
numbers = [1,2,3,4,5]
print(list(map(square,numbers)))

[1, 4, 9, 16, 25]

In [30]:
def square(x):
    return x*x
numbers = [1,2,3,4,5]

for num in map(square, numbers):
    #Prints square numbers
    print(num)

1
4
9
16
25

In [31]:
numbers = [1,2,3,4,5]
print(list(map(lambda x:x*x,numbers)))

[1, 4, 9, 16, 25]

In [32]:
#Filters the elements that satisfy the condition
numbers = [1,2,3,4,5]
print(list(filter(lambda x:x>3,numbers)))

[4, 5]

Reduce function

In [35]:
#The reduce() function applies a function of two arguments cumulatively to the items of a sequence, from left to right, to reduce the sequence to a single value.
from functools import reduce
numbers = [1,2,3,4,5]
print(reduce(lambda x,y:x+y,numbers))

15

In [36]:
from functools import reduce

#A list of tokens (words) that form an inspirational quote
tokens = ["The", "best", "way", "to", "predict", "the", "future", "is", "to", "create", "it."]

#Use reduce() with a lambda function to join the tokens
#The lambda function combines two strings with a space in between
quote = reduce(lambda combined_string, word: combined_string + " " + word, tokens)
print(quote)

The best way to predict the future is to create it.