LAB ACTIVITY 12

Handling CSV

In [2]:
import csv
with open('cars.csv', mode='w', newline='') as file:
    writer = csv.writer(file)
    writer.writerow(['Car', 'Year'])
    writer.writerow(['Ford Ranger Raptor', 2023])
    writer.writerow(['BMW 530d', 2020])

In [9]:
#Load and print data from CSV file
data = pd.read_csv("customer_data.csv")
print(data.head())

     Email       PurchaseDate  PurchaseAmount     Product
0    Aarav    January 6, 2025            1250  Smartphone
1   Vihaan    January 8, 2025             875      Laptop
2  Reyansh   January 31, 2025            2000  Smartphone
3   Ishaan   February 9, 2025             450  Headphones
4   Aadhya  February 16, 2025            3200      Laptop

In [11]:
#Summary of Dataframe
(data.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 15 entries, 0 to 14
Data columns (total 4 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Email           15 non-null     object
 1   PurchaseDate    15 non-null     object
 2   PurchaseAmount  15 non-null     int64
 3   Product         15 non-null     object
dtypes: int64(1), object(3)
memory usage: 612.0+ bytes

In [12]:
#Displays Rows and columns
print(data.shape)

(15, 4)

Read a CSV File

Extract the contents of a CSV File into a Pandas Dataframe

In [15]:
#Read data from CSV file
df = pd.read_csv("customer_data.csv") 
print(df)

      Email       PurchaseDate  PurchaseAmount     Product
0     Aarav    January 6, 2025            1250  Smartphone
1    Vihaan    January 8, 2025             875      Laptop
2   Reyansh   January 31, 2025            2000  Smartphone
3    Ishaan   February 9, 2025             450  Headphones
4    Aadhya  February 16, 2025            3200      Laptop
5     Anaya  February 20, 2025            1500  Smartphone
6    Saanvi      March 4, 2025             675      Tablet
7     Kiara     March 11, 2025            2500  Smartphone
8      Myra     March 24, 2025             900      Laptop
9     Dhruv     March 31, 2025            1800  Headphones
10    Kabir      April 5, 2025            1200  Smartphone
11    Arjun     April 30, 2025            3000      Laptop
12   Aarohi       May 12, 2025             750  Smartphone
13  Lavanya       May 24, 2025            2200  Headphones
14    Nitya      June 15, 2025            2800  Smartphone

Read a CSV Chunk by chunk

In [20]:
chunk_size = 100
count = 6

for chunk in pd.read_csv("customer_data.csv", chunksize=chunk_size): 
    print(f"DataFrame Chunk {count}:") 
    print(chunk)
    count += 1

DataFrame Chunk 6:
      Email       PurchaseDate  PurchaseAmount     Product
0     Aarav    January 6, 2025            1250  Smartphone
1    Vihaan    January 8, 2025             875      Laptop
2   Reyansh   January 31, 2025            2000  Smartphone
3    Ishaan   February 9, 2025             450  Headphones
4    Aadhya  February 16, 2025            3200      Laptop
5     Anaya  February 20, 2025            1500  Smartphone
6    Saanvi      March 4, 2025             675      Tablet
7     Kiara     March 11, 2025            2500  Smartphone
8      Myra     March 24, 2025             900      Laptop
9     Dhruv     March 31, 2025            1800  Headphones
10    Kabir      April 5, 2025            1200  Smartphone
11    Arjun     April 30, 2025            3000      Laptop
12   Aarohi       May 12, 2025             750  Smartphone
13  Lavanya       May 24, 2025            2200  Headphones
14    Nitya      June 15, 2025            2800  Smartphone

Append to a CSV

In [25]:
import csv

new_data = [
    ['Email', 'PurchaseDate', 'PurchaseAmount', 'Product'],
    ['Jaish', 'July 1, 2025', 1300, 'Laptop'],
    ['Jyo', 'July 5, 2025', 900, 'Tablet']
]

with open('customer_data.csv', mode='a', newline='') as file:
    writer = csv.writer(file)
    for row in new_data[1:]: 
        writer.writerow(row)

df_appended = pd.read_csv("customer_data.csv")
print(df_appended)

      Email       PurchaseDate  PurchaseAmount     Product
0     Aarav    January 6, 2025            1250  Smartphone
1    Vihaan    January 8, 2025             875      Laptop
2   Reyansh   January 31, 2025            2000  Smartphone
3    Ishaan   February 9, 2025             450  Headphones
4    Aadhya  February 16, 2025            3200      Laptop
5     Anaya  February 20, 2025            1500  Smartphone
6    Saanvi      March 4, 2025             675      Tablet
7     Kiara     March 11, 2025            2500  Smartphone
8      Myra     March 24, 2025             900      Laptop
9     Dhruv     March 31, 2025            1800  Headphones
10    Kabir      April 5, 2025            1200  Smartphone
11    Arjun     April 30, 2025            3000      Laptop
12   Aarohi       May 12, 2025             750  Smartphone
13  Lavanya       May 24, 2025            2200  Headphones
14    Nitya      June 15, 2025            2800  Smartphone
15    Rohan       July 1, 2025            1300      Laptop
16     Diya       July 5, 2025             900      Tablet
17    Rohan       July 1, 2025            1300      Laptop
18     Diya       July 5, 2025             900      Tablet
19    Rohan       July 1, 2025            1300      Laptop
20     Diya       July 5, 2025             900      Tablet
21    Jaish       July 1, 2025            1300      Laptop
22      Jyo       July 5, 2025             900      Tablet

Writing to a CSV File

Writing numeric data to a new CSV file

In [27]:
from csv import writer

new_row = ['Keshav', 'July 1, 2025', 1300, 'Laptop']

with open('customer_data.csv', 'a', newline='') as file:
    csv_writer = writer(file)
    csv_writer.writerow(new_row)

df_appended = pd.read_csv("customer_data.csv")
print(df_appended)

      Email       PurchaseDate  PurchaseAmount     Product
0     Aarav    January 6, 2025            1250  Smartphone
1    Vihaan    January 8, 2025             875      Laptop
2   Reyansh   January 31, 2025            2000  Smartphone
3    Ishaan   February 9, 2025             450  Headphones
4    Aadhya  February 16, 2025            3200      Laptop
5     Anaya  February 20, 2025            1500  Smartphone
6    Saanvi      March 4, 2025             675      Tablet
7     Kiara     March 11, 2025            2500  Smartphone
8      Myra     March 24, 2025             900      Laptop
9     Dhruv     March 31, 2025            1800  Headphones
10    Kabir      April 5, 2025            1200  Smartphone
11    Arjun     April 30, 2025            3000      Laptop
12   Aarohi       May 12, 2025             750  Smartphone
13  Lavanya       May 24, 2025            2200  Headphones
14    Nitya      June 15, 2025            2800  Smartphone
15    Rohan       July 1, 2025            1300      Laptop
16     Diya       July 5, 2025             900      Tablet
17    Rohan       July 1, 2025            1300      Laptop
18     Diya       July 5, 2025             900      Tablet
19    Rohan       July 1, 2025            1300      Laptop
20     Diya       July 5, 2025             900      Tablet
21    Jaish       July 1, 2025            1300      Laptop
22      Jyo       July 5, 2025             900      Tablet
23   Keshav       July 1, 2025            1300      Laptop

Write text data into a CSV File

In [29]:
import csv

data = [
    ['Email', 'PurchaseDate', 'PurchaseAmount', 'Product'],
    ['Jyo', 'January 6, 2025', 1250, 'Smartphone'],
    ['Jaish', 'January 8, 2025', 875, 'Laptop'],
    ['Bhav', 'January 31, 2025', 2000, 'Smartphone']
]

with open('customer_data.csv', mode='w', newline='') as file:
    writer = csv.writer(file)
    writer.writerows(data)

df_appended = pd.read_csv("customer_data.csv")
print(df_appended)

   Email      PurchaseDate  PurchaseAmount     Product
0    Jyo   January 6, 2025            1250  Smartphone
1  Jaish   January 8, 2025             875      Laptop
2   Bhav  January 31, 2025            2000  Smartphone